* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url('https://i.postimg.cc/Dy0Xb6Bs/ocean.jpg');
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock {
  background-image: url('https://i.postimg.cc/434drbnw/background.jpg');
  /* background-image: url('./background.jpg'); */
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 1);
  height: 400px;
  width: 600px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid grey;
  border-radius: 10px;
  /* background-image: linear-gradient(to bottom, green, yellow); */
}
.corner {
  clip-path: circle(27.9% at 100% 23%);
  border-radius: 10px;
  background: rgb(4, 9, 11);
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  right: 0px;
  height: 400px;
  width: 400px;
}
.board {
  clip-path: polygon(20% 16%, 100% 9%, 100% 65%, 21% 74%, 20% 66%, 9% 68%);
  background-image: linear-gradient(to right, rgb(2, 0, 1), rgb(16, 27, 23));
  border: 2px solid grey;
  border-radius: 100px;
  /* box-shadow: -50px 0px 500px; */
  position: absolute;
  top: 15%;
  left: 20%;
  height: 300px;
  width: 300px;
  font-weight: 400;
}
.pen {
  clip-path: polygon(85% 36%, 98% 42%, 88% 50%, 6% 63%, 4% 49%);
  /* background-image: linear-gradient(to top, rgba(2,0,1,1),rgba(16,27,23,.2)); */
  background: rgba(2, 0, 1, 0.7);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
  /* border: 2px solid gray; */
  /* border-radius: 100px; */
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 300px;
  height: 100px;
}
.circle {
  /* background-image: url('./box2.jpg'); */
  clip-path: ellipse(21% 9% at 42% 44%);
  background: rgba(41, 75, 63, 0.3);
  /* box-shadow: 10px 10px 10px rgba(0, 0, 0, .7);
   */
  border: 2px solid gray;
  position: absolute;
  right: 5px;
  bottom: 25%;
  width: 200px;
  height: 120px;
  /* background-repeat: no-repeat;
  background-size: cover; */
}
.ring1 {
  clip-path: ellipse(21% 9% at 42% 44%);
  background: rgba(41, 75, 63, 0.3);
  border: 2px solid gray;
  position: absolute;
  right: 30px;
  bottom: 15%;
  width: 150px;
  height: 120px;
}
.ring2 {
  clip-path: ellipse(21% 9% at 42% 44%);
  background: rgba(41, 75, 63, 0.3);
  border: 2px solid gray;
  position: absolute;
  right: -50px;
  bottom: 20%;
  width: 180px;
  height: 120px;
}
.time {
  font-family: LOOPY, sans-serif;
  font-size: 64px;
  position: absolute;
  top: 30%;
  left: 35%;
  color: rgb(66, 168, 128);
}
.day {
  font-family: sans-serif;
  font-size: 10px;
  position: absolute;
  top: 80px;
  right: 0;
}
.bird {
  clip-path: polygon(
    36% 23%,
    11% 16%,
    25% 38%,
    1% 59%,
    23% 57%,
    36% 46%,
    60% 47%,
    73% 30%,
    89% 33%,
    78% 19%,
    64% 19%,
    50% 30%
  );
  background: rgb(23, 42, 35);
  position: absolute;
  height: 120px;
  width: 150px;
  top: 10px;
  left: 20px;
}
.eyes {
  font-size: 50px;
  color: #fff;
  position: absolute;
  top: -5px;
  left: 119px;
}
@font-face {
  font-family: LOOPY;
  src: url('./font/loopy.ttf');
  font-weight: bold;
}
